body{
    background: #bdbdbd;
}
header{
    margin-top: 30px;
}
header .nav {
    background: #fff;
    min-height: 80px;
    overflow: hidden;
}
/* logo */
header .logo h2,
header .logo span,
header .logo p{
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    margin:0px;
}
header .logo h2{
    font-family: 'Pacifico', cursive;
}

header .logo .icono{
    color: #bfbfbf;
}
/* menu navegacion */
header .menu {
    padding: 0;
}
header .menu a{
    display: block;
    color:#fff;
    padding:  0 30px;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}
header .menu a div span{
    font-weight: 200;
}
header .menu .color1{background: #3da5e2}
header .menu .color2{background: #2a7eaf}
header .menu .color3{background: #125175}

header .menu .color1:hover {background: #3585b3}
header .menu .color2:hover  {background: #216a94}
header .menu .color3:hover {background: #0d3a53}

/*propiedades slider*/
.slider{
    margin-bottom: 40px;
}
.slider .col {
    padding: 0px;
}

.slider .col img{
    height: 500px;
    width: 100%;
}

/*portafolio*/

.portafolio{

    background: #fff;
    border-top: 5px solid #3da5e2;
    padding: 0 20px;
    margin-bottom: 40px;
}

.portafolio .titulo{
    padding: 40px 0;
    text-align: center;
    color:#3da5e2;
    font-family: 'Open sans',sans-serif;
    font-weight: 300;
}

.portafolio .galeria .contenedor-imagen{
    margin-bottom: 40px;
    max-height:180px;
    overflow: hidden;;
}

.portafolio .galeria .contenedor-imagen a{
    display: inline-block;;
    background: #3da5e2,  
}

.portafolio .galeria .contenedor-imagen:hover img{
    opacity: .3;   
}

/*estilizando el modal*/
.portafolio .modal-dialog{
    width: 100%;
    height: 100%;
    max-width: 100%;
}

/*acerca de mi*/

.acerca-de{
    padding: 30px;
    margin-bottom: 40px;
}

.acerca-de .perfil{
    text-align: center;
}
.acerca-de .perfil img{
    margin-bottom: 30px;
}

.acerca-de .perfil .nombre{
    color: #545454;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
}
.acerca-de .info .resumen{
    letter-spacing: 1px;
}
.acerca-de .info .label{
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    font-weight: 600;
    color: #005385;
    margin-bottom: 10px;
}

.acerca-de .info .progress{
   background: #005385;
   border-radius: 12px;
   margin-bottom: 15px;
}

.acerca-de .info .progress-bar{
    height: 25px;
    background: #3da5e2;
    line-height: 25px;
    text-align: left;
    padding-left: 20px;
}

/*propiedades de contacto*/
.contacto{
    padding: 40px 0;
    border-top: 3px solid #cbcbcb;
    margin-bottom: 40px;
}

.contacto .titulo{
    color: #003855;
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.contacto .form-group{
    margin-bottom: 0;
}

.formulario input[type='text'],
.formulario input[type='email'],
.formulario textarea {
    padding: 15px;
    border: none;
    width: 100%;
    font-family: 'Pacifico', cursive;
    margin-bottom: 30px;
}

.formulario textarea {
    height: 150px;
    min-height: 150px;
    max-height: 250px;
}

.formulario .boton{
    background: #3da5e2;
    border: none;
    padding: 7px 30px;
    color: #fff;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
    width: auto;
    border-radius: 15px;
}
.formulario .boton:hover{
    background: #1ba0a9;
}